<!DOCTYPE html>
<html>
<head>
    <title>Hair Salon</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!--link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <link rel="stylesheet" href="url(http://weloveiconfonts.com/api/?family=fontawesome);">
    <link href="https://fonts.googleapis.com/css?family=Roboto:900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arimo|Exo:900" rel="stylesheet"-->
    <link rel="stylesheet" href="/app.css">
</head>

<body>
<div class="container">

    #parse( $template )

</div>

</body>

</html>